<!-- <button class="btn btn-primary" (click)="closeDetail()">
  Chiudi Dettaglio
</button>
<div class="container">
  <h2>Dettagli</h2>
  <div class="card">
    <div class="card-body" *ngIf="selectedContact">
      <p>{{ selectedContact | json }}</p>
      <h5 class="card-title">
        {{ selectedContact.firstName | lowercase }}
        {{ selectedContact.lastName | lowercase }}
      </h5>
      <p class="card-text">
        <strong>Numero di telefono:</strong> {{ selectedContact.phonePrefix }} -
        {{ selectedContact.phoneNumber }}
      </p>
      <p class="card-text">
        <strong>Email: </strong> {{ selectedContact.email }}
      </p>
      <p class="card-text">
        <strong>Compleanno: </strong>
        {{ selectedContact.birthDate | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </div>
</div> -->

<button
  class="close-details"
  mat-raised-button
  color="primary"
  (click)="closeDetail()"
>
  Chiudi Dettaglio
</button>

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{ selectedContact.firstName | lowercase }}
        {{ selectedContact.lastName | lowercase }}
      </mat-card-title>
      <mat-card-subtitle>
        <strong>Email: </strong> {{ selectedContact.email }}
      </mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        {{ selectedContact.birthDate }}
        {{ selectedContact.gender }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
